<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <ul class="orders__products">
                                <% order.products.forEach(product => { %>
                                    <li class="orders__products-item">
                                        <div>
                                            <p><%= product.productDetails.title %> (Quantity: <%= product.quantity %>)</p>
                                            <h4>Total Price: <%= product.productDetails.price * product.quantity %></h4>
                                        </div>
                                        <div>
                                            <img src="<%= product.productDetails.imageUrl %>" alt="img">
                                            <p><%= product.productDetails.description %></p>
                                        </div>
                                    </li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>